<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link href="../static/css/app.css" th:href="@{css/app.css}" rel="stylesheet" media="screen"/>
    <title>HS Library Login</title>
</head>

<body>

<div th:if="${param.error}" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    Invalid username and password.
</div>

<div th:if="${param.logout}">
    You have been logged out.
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="form-login centering">
            <h4>Welcome back.</h4>
            <form th:action="@{/login}" method="post">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
                    <input type="text" name="username" id="userName" class="form-control input-sm chat-input"
                           aria-describedby="basic-addon1" placeholder="username"/>
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-asterisk" id="basic-addon2"></span>
                    <input type="password" name="password" id="userPassword" class="form-control input-sm chat-input"
                           aria-describedby="basic-addon2" placeholder="password"/>
                </div>
                <br/>
                <div class="wrapper">
                    <span class="group-btn">
                        <input class="btn btn-primary btn-md" type="submit" value="Sign In"/>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>